body
{
    background-color: rgb(194, 215, 255);
}

.nara
{
   color: darkorange;
}

.verde
{
    color: rgb(24, 150, 41);
    background-color: floralwhite;
}

.narac
{
    color: rgb(199, 152, 33);
}